{% extends "header.html" %}

{% block body %}
<div class="row">
  <div class="col-md-6">
      <div class=" panel panel-default">
          <div class="panel" style="margin:1%; padding:1%">
          <h1>Who are we?</h1>
          Lorem ipsum quod et eum dolor voluptatem. Id debitis aspernatur esse dolorem vero. Maiores aliquid dolorem quasi quod aliquam. Eum sed a excepturi et natus aut. Sed aspernatur eligendi aspernatur dignissimos repellendus numquam aliquid impedit. Eum voluptas voluptates in eaque magnam.
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="panel panel-default">
          <div class="panel" style="margin:1%; padding:1%">
          <h1>What we do?</h1>
          Lorem ipsum quod et eum dolor voluptatem. Id debitis aspernatur esse dolorem vero. Maiores aliquid dolorem quasi quod aliquam. Eum sed a excepturi et natus aut. Sed aspernatur eligendi aspernatur dignissimos repellendus numquam aliquid impedit. Eum voluptas voluptates in eaque magnam.
          </div>
      </div>
  </div>
  <div class="col-md-12">
      <div class="panel panel-default">
          <div class="panel" style="margin:1%; padding:1%">
          <h1>Rules:</h1>
          <ul>
                <li>Lorem ipsum quod et eum dolor voluptatem.</li>
                <li>Id debitis aspernatur esse dolorem vero.</li>
                <li>Maiores aliquid dolorem quasi quod aliquam.</li>
                <li>Eum sed a excepturi et natus aut.</li>
                <li>Sed aspernatur eligendi aspernatur</li>
          </ul>
          </div>
      </div>
  </div>
</div>
{% endblock %}
